@use '../abstracts' as *;

body {
  font-family: $mainFont;
  font-size: rem(18);

  @include breakpoint(medium) {
    font-size: rem(16);
  }
}

h2 {
  font-size: rem(24);
}

h3 {
  font-size: rem(41.7);

  @include breakpoint(medium) {
    font-size: rem(31.27);
  }
}

a {
  text-decoration: none;
}