@use '../abstracts' as *;

body {
	font-family: $mainFont;
	font-size: rem(16);
	line-height: rem(20.85);

	@include breakpoint(medium) {
		font-size: rem(18);
		line-height: rem(23.45);
	}
}

.font-xl {
	font-size: rem(56);
	line-height: rem(72);
	font-weight: 800;

	@include breakpoint(medium) {
		font-size: rem(72);
	}
}

.font-l {
	font-size: rem(24);
	line-height: rem(31.27);

	@include breakpoint(medium) {
		font-size: rem(32);
		line-height: rem(41.7);
	}
}

.font-m {
	font-size: rem(18);
	line-height: rem(23.45);

	@include breakpoint(medium) {
		font-size: rem(24);
		line-height: rem(31.27);
	}
}

a {
	text-decoration: none;
}
